.add-lesson__wrapper {
    width: 100%;
    margin-top: 80px;
}

.add-lesson__inner {
    width: calc(100% - 100px);
    height: calc(100vh - 80px);
    margin-left: 100px;
    padding: 10px;
    border-radius: 8px;
}

.lesson-form {
    padding: 20px 10px 10px 10px;
    background: #fff;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    position: relative;
}

.lesson-form__inner {
    width: 70%;
}

.lesson-form__group {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
}

.lesson-form__label {
    display: inline-block;
    width: calc(20% - 5px);
    font-weight: 700;
    margin-right: 5px;
    font-size: 18px;
}

.lesson-form__input {
    height: 40px;
    width: 80%;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    outline: none;
    transition: .5s;
    border-radius: 4px 4px 0 0;
}

.lesson-form__input:focus {
    background: #e6edf7;
}

.lesson-form__text {
    margin-top: 5px;
    font-size: 14px;
    width: 80%;
    float: right;
    color: red;
    display: none;
}


.lesson-form__select {
    border: 1px solid #ccc;
}

.lesson-form__select:focus {
    background: #fff;
}

.lesson-form__action {
    height: 80px;
    width: 100%;
    padding: 20px 20px 35% 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ccc;
}