.add-lecture__wrapper {
    width: 100%;
}

.add-lecture__inner {
    width: calc(100% - 100px);
    margin: 80px 0 0 100px;
    padding: 10px;
}

.add-lecture__form {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    border-radius: 4px;
    background: #fff;
    padding: 20px 10px 10px 10px;
}

.lecture-form__inner {
    width: 70%;
}

.lecture-form__group {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
}

.group-area {
    height: 135px;
}


.lecture-form__label {
    display: inline-block;
    width: calc(20% - 5px);
    font-weight: 700;
    margin-right: 5px;
    font-size: 18px;
}

.lecture-form__input {
    height: 40px;
    width: 80%;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    outline: none;
    transition: .5s;
    border-radius: 4px 4px 0 0;
}

.lecture-form__input:focus {
    background: #e6edf7;
}

.form-area {
    height: 135px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.lecture-form__text {
    margin-top: 5px;
    font-size: 14px;
    width: 80%;
    float: right;
    color: red;
    display: none;
}


.lecture-form__select {
    border: 1px solid #ccc;
}

.lecture-form__select:focus {
    background: #fff;
}

.input-video {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.lecture-video {
    width: calc(30% - 10px);
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.video-iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.no-video {
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
}

.form-action {
    border-top: 1px solid #ccc;
    height: 80px;
    width: 100%;
    background: #fff;
    padding: 20px 20px 10px 10px;
    position: absolute;
    bottom: 0px;
    right: 0;
}

.btn-add {
    height: 45px;
}
