.update-course__wrapper {
    height: auto;
    position: relative;
    padding-bottom: 80px;
}

.accordion {
    width: 100%;
}

.accordion-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-head {
    width: 70%;
    display: flex;
    align-items: center;
}

.accordion-lesson {
    background: #f5f5f5;
    width: calc(100% - 110px);
    padding: 15px 10px;
    text-align: left;
    font-weight: 600;
    cursor: pointer;
}

.accordion-btn {
    width: 35px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px;
    border-color: #a7a7a7;
    color: #a7a7a7;
}

.accordion-btn:hover {
    color: #000;
    border-color: #000;
}

.accordion-list_item {
    margin-top: 5px;
    width: calc(70% - 110px);
    cursor: pointer;
    background: #fafafa;
    display: flex;
}

.accordion-list__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.accordion-content {
    display: none;
}

.accordion-content.open {
    display: block;
}

.accordion-icon {
    width: 24px;
    height: 24px;
}

.update-form__action {
    background: #fff;
    position: fixed;
    width: calc(100% - 100px);
    bottom: 0;
}