.update-lesson__wrapper {
    margin-top: 80px;
}

.update-lesson__inner {
    width: calc(100% - 100px);
    height: calc(100vh - 80px);
    /* background: palegreen; */
    margin-left: 100px;
    padding: 10px;
    border-radius: 8px;
}

.update-lesson__form {
    /* padding: 20px; */
    padding: 20px 10px 10px 10px;
    background: #fff;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    position: relative;
}

.input-readOnly {
    background: #e6edf7;
}

.lesson-details__form--action {
    padding-bottom: 30%;
}