.adm-user__wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.adm-user__inner {
    width: calc(100% - 120px);
    margin-left: 110px;
    margin-top: 80px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}

/*  =================================== Head =============================================*/
.adm-user__head {
    width: 100%;
    height: 40px;
    background: linear-gradient(45deg, #21a2ff, #8951ff);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    padding: 0 20px 0 5px;
    margin-top: 60px;
    border-radius: 4px;
}


.list-item__ID ,.user-head__ID {
    width: 5%;
}

.list-item__avatar ,.user-head__avatar {
    width: 10%;
}

.list-item__name, .user-head__name {
    width: 25%;
}

.list-item__email ,.user-head__email {
    width: 35%;
}

.list-item__balance ,.user-head__balance {
    width: 15%;
}

.list-item__role ,.user-head__role {
    width: 10%;
}

.user-head__title {
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

/* ============================================ List user ============================================*/
.adm-user__list {
    width: 100%;
    height: 100%;
}

.user-list__item {
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 5px;
    border-radius: 8px;
    transition: .25s;
}

.user-list__item:hover {
    background: #fafafa;
    cursor: pointer;
}

.list-item__info {
    text-align: center;
    font-size: 18px;
}

.list-item__ID {
    font-weight: 600;
}

.list-item__avatar {
    display: flex;
    justify-content: center;
}

.user-head__name, .user-head__email {
    display: flex;
    justify-content: left;
}

.list-item__name, .list-item__email {
    display: flex;
    justify-content: left;
}

.list-item__balance {
    display: flex;
    justify-content: right;
    padding-right: 10px;
    color: orange;
}

.admin-role {
    font-weight: 600;
}

.list-item__img {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 999px;
}