.admin-wrapper {
    /* height: 5000px; */
    height: 100vh;
    /* background: yellow; */
    overflow: hidden;
}

.list-course {
    margin-top: 80px;
    width: calc(100% - 100px);
    height: 500px;
    margin-left: 100px;
    padding: 10px;
}

.list-course__head {
    width: 100%;
    height: 40px;
    background: linear-gradient(45deg, #21a2ff, #8951ff);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    padding: 0 20px 0 5px;
    margin-top: 50px;
    border-radius: 4px;
}

.course-id_head {
    width: 10%;
    text-align: center;
}

.course-name_head {
    width: 30%;
}

.course-name_head, .course-id_head {
    font-size: 20px;
    font-weight: 700;
}

.course-image_head {
    width: 10%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.course-level_head {
    width: 10%;
    text-align: center;
}

.course-price_head {
    width: 10%;
    font-size: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}

.list-course__inner {
    width: 100%;
    min-height: 300px;
    margin-top: 7px;
}
