.question__wrapper {
    width: 100%;
    height: calc(100vh - 98px);
    /* background: yellowgreen; */
}

.question-inner {
    margin: 88px 0 0 110px;
    width: calc(100% - 120px);
    height: 100%;
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.question-form__action {
    border-top: 1px solid #ccc;
    /* height: 80px; */
    width: calc(100% - 120px);
    background: #fff;
    padding: 20px 10px 0px 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btn-mQuestion {
    margin-right: 10px;
}