.blog-container {
    margin-top: 80px;
    padding: 10px 20px;
    height: calc(100vh - 140px);
}

.blog-input {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 24px;
    font-weight: 600;
    background: #fff;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    border-radius: 8px;
}

.mdediter {
    height: calc(90% - 10px) !important;
    border-radius: 8px;
    overflow: hidden;
}

.blog-actions {
    width: 100%;
    background: #fff;
    height: 10%;
    position: fixed;
    bottom: 0;
    padding: 20px 20px 10px 10px;
}
