.blog-container {
    margin-top: 80px;
    padding: 10px 20px;
    height: calc(100vh - 140px);
}

.blog-input {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 24px;
    font-weight: 600;
    background: #fff;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    border-radius: 8px;
}

.mdediter {
    height: 100% !important;
    border-radius: 8px;
    overflow: hidden;
}
