.button {
    margin-right: 10px;
}

.button-primary {
    background: linear-gradient(45deg, #21a2ff, #8951ff);
    color: #fff;
    padding: 8px 10px;
    border-radius: 8px;
    transition: .5s;
    border: none;
    cursor: pointer;
    transition: .25s;
    width: 160px;
    display: inline-block;
    text-align: center;
    /* margin-top: 10px; */
    font-size: 18px;
    font-weight: 600;
    float: right;
}

.button-primary:hover {
    opacity: 0.9;
}

.button-secondary {
    background: #fff;
    font-size: 18px;
    font-weight: bold;
    /* padding: 10px 20px; */
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    background-clip: padding-box;
    text-align: center;
    transition: border 0.25s ease-in-out;

    /* Màu chữ gradient */
    background-image: linear-gradient(45deg, #21a2ff, #8951ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Viền gradient */
    position: relative;
    width: 150px;
}

.button-secondary::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 1px; /* Độ dày của viền */
    background: linear-gradient(45deg, #21a2ff, #8951ff);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.button-third {
    border: 1px solid #ccc;
    color: #ccc;
    transition: .25s;
    background: #fff;
    padding: 7px 9px;
    font-size: 18px;
    width: 150px;
    /* margin-right: 10px; */
}

.button-third:hover {
    border-color: red;
    color: red;
}

.button-delete {
    background: red;
    color: #fff;
}