.course-details__wrapper {
    width: 100%;
    /* height: calc(100vh - 80px); */
}

.course-details__inner {
    width: calc(100% - 100px);
    height: 100%;
    margin: 80px 0 0 100px;
    padding: 10px;
}

.course-container {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.course-info {
    width: 70%;
    height: 100%;
}

.course-info__name {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    /* background: yellowgreen; */
}

.course-info__desc {
    /* background: yellowgreen; */
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 14px;
}

/* Accordion */
.course-accordion{
    width: 100%;
}

.course-accordion__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.course-accordion__item {
    margin-bottom: 10px;
}

.course-accordion__head {
    width: 100%;
    display: flex;
    align-items: center;
}

.course-accordion__lesson {
    background: #f5f5f5;
    width: calc(100% - 110px);
    padding: 15px 10px;
    text-align: left;
    font-weight: 600;
    cursor: pointer;
}

.course-accordion__btn {
    width: 35px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px;
    border-color: #a7a7a7;
    color: #a7a7a7;
}

.course-accordion__btn:hover {
    color: #000;
    border-color: #000;
}

.course-accordion__list--item {
    margin-top: 5px;
    width: calc(100% - 110px);
    cursor: pointer;
    background: #fafafa;
    display: flex;
}

.course-accordion__list--link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.course-accordion__content {
    display: none;
}

.course-accordion__content.open {
    display: block;
}

.course-accordion__icon {
    width: 24px;
    height: 24px;
}

.course-video__thumb {
    width: calc(30% - 10px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #ccc; */
    position: sticky;
    top: 100px; 
    /* z-index: 10;  */
    height: 100%;
}



.course-video__iframe {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.course-details__cost {
    color: orange;
    font-size: 28px;
    text-align: center;
    margin: 20px 0;
}

.thumb-btn {
    float: none;
    margin-bottom: 10px;
}

.thumb-list {
    /* background: pink; */
}

.thumb-item {
    display: flex;
    align-items: center;
    /* background: yellowgreen; */
    margin-top: 10px;
    font-size: 14px;
}

.thumb-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}