.course {
    background: #fff;
    width: 24%;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    transition: .25s;
}

.course:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.course-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    /* margin-bottom: 10px; */
    /* border-radius: 12px; */
    border: 1px solid #ccc;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
}

.course-content {
    color: #000;
    padding: 10px;
}

.course-title, .price-container {
    margin-bottom: 10px;
}

.course-comp_name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
}

.old-price {
    font-size: 14px;
    color: #ccc;
    text-decoration: line-through;
    margin-right: 10px;
}

.main-price {
    color: orange;
    font-size: 22px;
    font-weight: 600;
    /* margin-left: 5px; */
}

.more-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    font-size: 14px;
}



.info-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 13px;
}


.item-icon {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

