.header {
    background: #fff;
    height: 80px;
    width: 100%;

    padding: 10px 20px;

    /* display: flex; */
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #ccc;
    z-index: 999;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-image {
    border-radius: 12px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
}

.header-title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.header-search {
    display: flex;
    align-items: center;
    width: 40%;
    position: relative;
}

.header-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 10px;
    top: 20px;
}



.header-input {
    border: 1px solid #000;
    width: 100%;
    padding: 10px 10px 10px 40px;
    border-radius: 999px;
    color: #000;
    font-size: 20px;
    outline: none;
    transition: 0.25s;
}

.header-input:focus {
    outline: 1px solid #000;
}

.header-container {
    display: flex;
    align-items: center;
}


.header-button {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    cursor: pointer;
    /* background: #ccc; */
}

.header-notify {
    width: 24px;
    height: 24px;
    margin-left: 20px;
}

.header-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}

/* My course */

.my-course {
    padding: 10px 0 10px 10px;
    width: 380px;
    height: 500px;
    background: #fff;
    position: fixed;
    top: 90px;
    right: 130px;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
    z-index: 999;
    box-sizing: border-box;
    transition: opacity 0.5s ease, visibility 0s ease 0.5s; 
    opacity: 0; 
    visibility: hidden; 
}

.my-course.visible {
    opacity: 1; 
    visibility: visible; 
}

.my-course__content {
    width: 100%;
    height: 100%;
    /* background: yellowgreen; */
    overflow-y: auto;
}

.my-course__item {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
}

.my-course__image {
    width: 120px;
    height: 80px;
    border-radius: 8px;
    margin-right: 10px;
}

.my-course__box {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

.my-course__name {
    font-weight: 700;
    width: 100%;
}

/* Actions */
.header-action {
    padding: 10px 20px;
    width: 250px;
    /* height: 200px; */
    background: #fff;
    border-radius: 8px;
    position: fixed;
    top: 85px;
    right: 5px;
    z-index: 10;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
}

.header-action__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cecdcd;
    padding-bottom: 20px;
}

.header-action__avatar {
    width: 30%;
    border-radius: 999px;
}

.header-action__box {
    width: 69%;
    padding-left: 8px;
}

.header-action__name {
    font-weight: 600;
    width: 100%;
    display: block;
}

.header-action__mail {
    width: 100%;
    font-size: 12px;
}

.header-action__row {
    padding: 15px 0;
    /* background: #ccc; */
    border-bottom: 1px solid #cecdcd;
}

.header-action__row:last-child {
    border-bottom: none;
    padding: 15px 0 0 0;
}

.header-action__item {
    width: 100%;
    /* background: yellowgreen; */
    display: block;
    font-size: 14px;
    /* padding-bottom: 5px; */
}

.header-action__item--pd {
    padding-bottom: 5px;
}
