.invoices-page {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    /* height: 1000px; */
    /* background: yellow; */
}

.invoices-page__head {
    width: calc(100% - 120px);
    height: 40px;
    background: linear-gradient(45deg, #21a2ff, #8951ff);
    /* margin-bottom: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    /* padding: 0 20px 0 5px; */
    padding: 10px;
    position: fixed;
    top: 140px;
    left: 110px;
    z-index: 1;
    border-radius: 4px;
}

.invoices-page__inner {
    height: 800px;

    width: calc(100% - 120px);
    /* background: #fff; */
    margin-left: 110px;
    margin-top: 190px;
    border-radius: 4px;
    /* padding: 10px; */
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.invoices__search {
    position: fixed;
    top: 80px;
    background: #f5f5f5;
    width: calc(100% - 110px);
    /* width: 100%; */
    height: 60px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 20px;
    z-index: 2;
    margin-left: 110px;
}