.learning-header {
    height: 60px;
    background: #1a1d1e;
    width: 100%;

    /* padding: 10px 20px; */
    padding: 5px 30px;

    /* display: flex; */
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #363636;
    z-index: 999;
}

.learning-header__wrapper {
    display: flex;
    justify-content: space-between;
}

.learning-header__image {
    width: 50px;
    height: 50px;
    border-radius: 12px;
}

.learning-header__title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.learning-header__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 10px;
    top: 20px;
}


.learning-header__container {
    display: flex;
    align-items: center;
}


.learning-header__button {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.learning-header__notify {
    width: 24px;
    height: 24px;
    margin-left: 20px;
}

.learning-header__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}

.learning-my-course {
    background: #1a1d1e;
}

/* Actions */
.learning-header__action {
    

    padding: 10px 0px 0px 0;
    width: 250px;
    background: #fff;
    border-radius: 8px;
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 10;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    border: 1px solid #21a2ff;
}

/* Actions */
.header-action {
    padding: 10px 0px 0px 0;
    width: 250px;
    background: #fff;
    border-radius: 8px;
    position: fixed;
    top: 85px;
    right: 5px;
    z-index: 10;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    border: 1px solid #21a2ff;
}

.header-action__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cecdcd;
    padding-bottom: 20px;
    padding-left: 10px;
}

.header-action__avatar {
    width: 30%;
    border-radius: 999px;
}

.header-action__box {
    width: 69%;
    padding-left: 8px;
}

.header-action__name {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    display: block;
    padding-right: 5px;
}

.header-action__mail {
    width: 100%;
    font-size: 12px;
    display: block;
}

.header-action__desc {
    font-size: 12px;
}

.header-action__balance {
    width: 100%;
    font-size: 14px;
    color: orange;
}

.header-action__row {
    border-bottom: 1px solid #cecdcd;
}

.header-action__row:last-child {
    border-bottom: none;
}

.header-action__item {
    width: 100%;
    display: block;
    font-size: 14px;    
}

.header-action__link {
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding: 8px 0 8px 10px;
    transition: .25s;
}

.header-action__link:hover {
    background: #f5f5f5;
    font-weight: 600;
}