.pagination {
    height: 70px;
    width: calc(100% - 100px);
    background: #fff;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.pagination-inner {
    height: 30px;
    background: #fff;
    border-radius: 999px;
    display: flex;
}

.pagination-icon {
    width: 16px;
    height: 16px;
}

.pagination-group__steps {
    width: 70px;
    height: 30px;
    border-radius: 999px 0 0 999px;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    padding-left: 5px;
    border: 1px solid #fff;
}

.pagination-group__steps--next {
    border-radius: 0 999px 999px 0;
    padding-left: 0;
    padding-right: 5px;
}

.pagination-group__page {
    width: 30px;
    height: 30px;
    margin: 0 3px;
}

.pagination-button {
    height: 100%;
    cursor: pointer;
    width: 100%;
    font-size: 13px;
    transition: .5s;
    border-radius: 999px;
}

.pagination-button:hover {
    color: #000;
    background: #f5f5f5;
}

.pagination-button__steps {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #727272;
    font-weight: 600;
}

.pagination-button__steps:hover {
    color: #000;
    background: #fff;
}

.pagination-button__focus {
    background: #21a2ff;
    color: #fff;
    border-radius: 999px;
}

.pagination-button__focus:hover {
    background: #21a2ff;
    color: #fff;
}