
/* PC */
@media screen and (min-width: 992px) {
    
}

/* Tablet and mobile*/
@media screen and (max-width: 991.98px) {
    
}
       

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 990.98px){
        
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .footer {
        margin-left: 0;
        width: 100%;
    }

    .footer-inner {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-bottom {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-paragraph {
        width: 100%;
        margin-bottom: 10px;
    }

    .column-item:hover {
        text-decoration: none;
    }

    
}    