
/* PC */
@media screen and (min-width: 992px) {
    
}

/* Tablet and mobile*/
@media screen and (max-width: 991.98px) {
    
}
       

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 990.98px){
        
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .navbar {
        /* display: none; */
        height: 660px;
        width: 70px;
        padding: 0;
        border-radius: 999px;
        bottom: 0;
        position: fixed;
        left: 10px;
        background: transparent;
        /* background: #fff; */
    }

    .navbar-list {
        display: none;
    }
    
    
    .navbar-chat {
        position: absolute;
        bottom: 10px;
        width: 50px;
        height: 50px;
        border: 1px solid #fff;
        background-image: linear-gradient(45deg, #212121, #303030);
    }
}    